.person-list-container {
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
}

.person-list {
    list-style: none;
    padding: 0;
}

.person-item {
    border: 1px solid #008CBA;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.3s ease-in-out;
}

.person-item:hover {
    transform: scale(1.05);
}

img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 20px;
}

.person-details {
    flex: 1;
    text-align: center;
}

.person-details h3 {
    margin: 0;
    font-size: 1.2rem;
    color: #333;
}

.person-details strong {
    margin-top: 5px;
    color: #008CBA;
}

button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
  }